// НАША КОМАНДА
.team-block {
  background-color: $secondary-background-color;
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.team-block__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) {
    justify-content: space-between;
  }
}

.team-block__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    &:not(:nth-last-child(-n + 2)) {
      margin-bottom: 30px;
    }
  }
}

.team-block__card-container {
  background: $primary-background-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}

.team-block__img-block {
  display: block;
  margin-bottom: 30px;
}

.team-block__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.team-block__post {
  color: $secondary-text-color;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.team-block__social-list {
  list-style: none;
  display: flex;
  justify-content: center;
}

.team-block__social-item:not(:nth-child(4)) {
  margin-right: 10px;
}

.team-block__employee-link {
  @extend %flex-row;
  width: 44px;
  height: 44px;
  color: $secondary-text-color;
  background-color: $white-color;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-color 250ms $timing-func;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.team-block__employee-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
  transition: fill 250ms $timing-func;
}

.team-block__employee-link:hover .team-block__employee-icon,
.team-block__employee-link:focus .team-block__employee-icon {
  fill: $white-color;
}