html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: $primary-background-color;
  color: $primary-text-color;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

header {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

main {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
}

footer {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;

  &::first-letter {
    text-transform: uppercase;
  }
}

.button {

  &:hover,
  &:focus,
  &--primary {
    background-color: $accent-color;
    color: $white-color;
  }

  &--primary {

    &:hover,
    &:focus {
      background-color: $secondary-background-color;
      color: $accent-color;
    }
  }
}

body.modal-open {
  overflow: hidden;
}

